[submodule "utils/grafana-tp-link"]
	path = utils/grafana-tp-link
	url = https://github.com/andylamp/grafana-tp-link
	update = merge
[submodule "utils/pihole-docker"]
	path = utils/pihole-docker
	url = https://github.com/andylamp/pihole-docker
	update = merge
[submodule "utils/kubernetes-cluster-deploy"]
	path = utils/kubernetes-cluster-deploy
	url = https://github.com/andylamp/kubernetes-cluster-deploy
	update = merge
